<ng-container *ngIf="memberListItems$ | async as members">
  <ng-container *ngIf="members.length; else noMembersTemplate">
    <mat-list>
      <mat-list-item *ngFor="let member of members">
        <img matListAvatar [src]="member.imageUrl" alt="member avatar" />
        <div mat-line>{{member.name}}</div>
        <div mat-line>
          <span *ngFor="let role of member.roles"> {{ role.name }} </span>
        </div>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="editMember(member.memberID)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button (click)="removeMember(member.memberID)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Remover do ministério</span>
          </button>
        </mat-menu>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <ng-template #noMembersTemplate>
    <p style="text-align: center">Ainda não foi cadastrado nenhum membro</p>
  </ng-template>
</ng-container>
