<ng-container *ngIf="scaleListItem$ |async as scale">
  <div class="scale-info">
    <span class="icon-container">
      <mat-icon>light_mode</mat-icon>
      <span>{{ scale.date | date : 'EEEE' | titlecase }}</span>
    </span>

    <span class="icon-container">
      <mat-icon>today</mat-icon>
      <span> {{ scale.date | date : 'dd/MM' }}</span>
    </span>

    <span class="icon-container">
      <mat-icon>schedule</mat-icon>
      <span> {{ scale.date | date : 'HH:mm' }}</span>
    </span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
      <button routerLink="/ministerios/1/escalas/{{scaleID}}/edit" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Clonar</span>
      </button>
      <button mat-menu-item (click)="deleteScale()">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </mat-menu>
  </div>

  <mat-divider></mat-divider>

  <p class="scale-notes">{{ scale.notes }}</p>

  <p class="scale-name">{{ scale.title }}</p>

  <mat-divider></mat-divider>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Músicas ( {{ scale.songs.length }} )">
      <mat-list>
        <sp-song-list-item
          [song]="song"
          *ngFor="let song of scale.songs; let index = index"
          [songOrder]="index + 1"
        >
          <img
            style="border-radius: 50%; width: 50px; height: 50px"
            alt="user image"
            [src]="song.memberImageUrl"
          />
        </sp-song-list-item>
      </mat-list>
    </mat-tab>

    <mat-tab label="Participantes ( {{ scale.participants.length }} )">
      <mat-list>
        <mat-list-item class="member" *ngFor="let participant of scale.participants">
          <img matListAvatar [src]="participant.imageUrl" alt="member avatar" />
          <div mat-line>{{participant.name}}</div>
          <div mat-line>
            <span *ngFor="let role of participant.roles"> {{ role.name }} </span>
          </div>

          <img
            class="role-avatar"
            mat-line-end
            *ngFor="let role of participant.roles"
            [src]="role.iconUrl"
            alt="role avatar"
          />
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</ng-container>
