<ng-container *ngIf="scaleListItem$ |async as scale">
  <mat-toolbar class="absolute">
    <button routerLink="../../" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1 *ngIf="ministry$ | async as ministry">
      <button
        mat-icon-button
        [routerLink]="['/']"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>home</mat-icon>
      </button>
      {{ ministry.name }}
    </h1>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
      <button routerLink="/ministerios/1/escalas/{{scaleID}}/edit" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Clonar</span>
      </button>
      <button mat-menu-item (click)="deleteScale()">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="scale-info">
    <span class="icon-container">
      <mat-icon>light_mode</mat-icon>
      <span>{{ scale.date | date : 'EEEE' | titlecase }}</span>
    </span>

    <span class="icon-container">
      <mat-icon>today</mat-icon>
      <span>29/01</span>
    </span>

    <span class="icon-container">
      <mat-icon>schedule</mat-icon>
      <span> 21:03</span>
    </span>
  </div>

  <mat-divider></mat-divider>

  <p class="scale-name">Arena</p>

  <mat-divider></mat-divider>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Músicas ( {{ scale.songs.length }} )">
      <mat-list>
        <sp-song-list-item
          [song]="song"
          *ngFor="let song of scale.songs; let index = index"
        >
          {{ index + 1 }}
        </sp-song-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Participantes ( {{ scale.participants.length }} )">
      <mat-list>
        <mat-list-item class="member" *ngFor="let participant of scale.participants">
          <img matListAvatar [src]="participant.imageUrl" alt="member avatar" />
          <div mat-line>{{participant.name}}</div>
          <div mat-line>
            <span *ngFor="let role of participant.roles"> {{ role.name }} </span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</ng-container>
