<ng-container *ngIf="scaleListItems$ | async as scales">
  <ng-container *ngIf="scales.length; else noScalesTemplate">
    <mat-card
      @fadeAnimation
      [routerLink]="['./', scale.scaleID]"
      class="scale"
      *ngFor="let scale of scales"
    >
      <div class="date">
        <span>{{scale.date | date : 'EEEE' | titlecase}}</span>
        <span>{{scale.date | date : 'dd/MMM' }}</span>
        <span>{{scale.date | date : 'HH:mm'}}</span>
      </div>

      <div class="main">
        <span>{{scale.title}}</span>
        <!-- <p>{{scale.notes}}</p> -->

        <div class="container-image">
          <img
            [src]="url"
            alt="user image"
            *spFor="let url of scale.imagesUrl else 'Ainda não foi cadastrado nenhum participante'"
          />
        </div>
      </div>

      <div class="songs-quantity">
        <mat-icon>music_note</mat-icon>
        <span>{{ scale.songsQuantity }}</span>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #noScalesTemplate>
    <p style="text-align: center">Ainda não foi cadastrada nenhuma escala</p>
  </ng-template>
</ng-container>
