@import 'custom-theme';
@import 'mixins';

:host {
  display: grid;
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));

  .scale {
    border-radius: 5px;
    color: #fff;
    display: flex;
    padding: 15px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    @include hover;
  }

  .date {
    display: grid;
    color: #fff;
    padding-right: 20px;
    text-align: center;

    .month-date {
      align-self: flex-end;
    }
  }

  .main {
    flex: 1;

    .scale-title {
      margin: 0 0 9px 0;
    }

    .no-participants {
      line-height: 48px;
    }
  }

  .avatars {
    --margin-off-set: 17px;
    direction: rtl; /* This is to get the stack with left on top */
    text-align: left; /* Now need to explicitly align left */
    padding-left: var(--margin-off-set); /* Same value as the negative margin */

    .avatar img {
      border-radius: 50%;
      position: relative;
      border: 2px solid #fff;
      left: -5px;
      margin-left: calc(-1 * var(--margin-off-set));
      z-index: 1;
      width: 40px;
    }
  }

  .songs-quantity {
    display: flex;
    justify-content: center;

    align-self: end;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;

    mat-icon {
      font-size: 20px;
      transform: translateX(5px);
    }
  }

  ::ng-deep sp-list-no-message p {
    text-align: left;
    color: #bbbbbb;
    font-size: 14px;
    margin-bottom: 0;
  }
}
