<button (click)="goToCreateScale()" data-testid="create-ministry-button" mat-fab>
  <mat-icon>add</mat-icon>
</button>

<ng-container *ngIf="scaleListItems$ | async as scales">
  <ng-container *ngIf="scales.length; else noScalesTemplate">
    <mat-card
      @fadeAnimation
      [routerLink]="['./', scale.scaleID]"
      class="scale"
      *ngFor="let scale of scales"
    >
      <div class="date">
        <span class="weekday"
          >{{scale.date | date : 'EEE' | spRemoveDots | titlecase }}</span
        >
        <span class="month-date">{{scale.date | date : 'dd/MM' }}</span>
        <span class="hour">{{scale.date | date : 'HH:mm'}}</span>
      </div>

      <div class="main">
        <p class="scale-title">{{scale.title}}</p>

        <ng-container *ngIf="scale.participants.length; else noParticipantsTemplate">
          <div class="avatars">
            <span *ngFor="let participant of scale.participants" class="avatar">
              <img [src]="participant.imageUrl" alt="user image" />
            </span>
          </div>
        </ng-container>
        <ng-template #noParticipantsTemplate>
          <span class="no-participants">Nenhum participante</span>
        </ng-template>
      </div>

      <div class="songs-quantity">
        <mat-icon>music_note</mat-icon>
        <span>{{ scale.songsQuantity }}</span>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #noScalesTemplate>
    <p style="text-align: center">Ainda não foi cadastrada nenhuma escala</p>
  </ng-template>
</ng-container>
