<h2 mat-dialog-title>Participantes</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Fill in your name</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-hint>bla bla bla ...</mat-hint>
  </mat-form-field>

  <mat-list>
    <div>
      <mat-list-item>
        <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
        <div mat-line class="subtitle">Renato</div>
        <div class="flex"></div>
        <mat-slide-toggle #toggle checked="true"></mat-slide-toggle>
      </mat-list-item>
      <mat-accordion [hidden]="!toggle.checked">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-description> 2/2 funções selecionadas. </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-radio-group>
            <div class="radio-button-container" (click)="radioButton1.checked = true">
              <div class="icon-container">
                <mat-icon svgIcon="bass"></mat-icon>
                <span>Baixo</span>
              </div>
              <mat-radio-button #radioButton1 class="example-radio-button" [value]="1">
              </mat-radio-button>
            </div>

            <div class="radio-button-container" (click)="radioButton2.checked = true">
              <div class="icon-container">
                <mat-icon svgIcon="bass"></mat-icon>
                <span>Guitarra</span>
              </div>
              <mat-radio-button #radioButton2 class="example-radio-button" [value]="2">
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-list-item>
        <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
        <div mat-line class="subtitle">Renato</div>
        <div class="flex"></div>
        <mat-slide-toggle #toggle checked="true"></mat-slide-toggle>
      </mat-list-item>
      <mat-accordion [hidden]="!toggle.checked">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-description> 2/2 funções selecionadas. </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-radio-group>
            <div class="radio-button-container" (click)="radioButton3.checked = true">
              <div class="icon-container">
                <mat-icon svgIcon="bass"></mat-icon>
                <span>Baixo</span>
              </div>
              <mat-radio-button #radioButton3 class="example-radio-button" [value]="3">
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <div>
      <mat-list-item>
        <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
        <div mat-line class="subtitle">Renato</div>
        <div class="flex"></div>
        <mat-slide-toggle #toggle checked="true"></mat-slide-toggle>
      </mat-list-item>
      <mat-accordion [hidden]="!toggle.checked">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-description> 2/2 funções selecionadas. </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-radio-group>
            <div class="radio-button-container" (click)="radioButton4.checked = true">
              <div class="icon-container">
                <mat-icon svgIcon="bass"></mat-icon>
                <span>Baixo</span>
              </div>
              <mat-radio-button #radioButton4 class="example-radio-button" [value]="4">
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </div>

    <!-- <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>

      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider> -->
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary">Submit</button>
</mat-dialog-actions>
