<h2 mat-dialog-title>Membros</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Fill in your name</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-hint>bla bla bla ...</mat-hint>
  </mat-form-field>

  <mat-list>
    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
      <div mat-line class="subtitle">Renato</div>
      <div class="flex"></div>
      <mat-slide-toggle checked="true"></mat-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary">Submit</button>
</mat-dialog-actions>
