<h1 style="display: flex">Ministérios</h1>

<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome </mat-label>
    <input
      matInput
      placeholder="Ex. Lagoinha"
      value="Sushi"
      [formControl]="ministryNameControl"
    />
  </mat-form-field>

  <button
    [disabled]="!ministryNameControl.valid"
    (click)="createMinistry()"
    mat-raised-button
    color="primary"
  >
    New
  </button>
</div>

<div class="cards">
  <mat-card
    *ngFor="let ministry of ministryListItems$ | async"
    [routerLink]="['/ministerios', ministry.ministryID]"
  >
    <mat-card-title>{{ ministry.name }}</mat-card-title>
  </mat-card>
</div>
