<ng-container>
  <mat-toolbar>
    <h2 mat-dialog-title>Músicas</h2>

    <button data-testid="create-ministry-button" mat-raised-button>Nova Música</button>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <mat-form-field class="search" appearance="outline">
      <mat-label>Pesquisar por nome</mat-label>
      <input
        [formControl]="searchControl"
        matInput
        placeholderLabel="Nome da música ou artista"
      />
    </mat-form-field>

    <div class="songs-container">
      <div
        class="song"
        [style.display]="'grid'"
        *ngFor="let item of songListItems$ | async | spPropertyFilter : 'song.title' : searchControl.value "
        (click)="checkboxRef.toggle()"
        [formGroup]="item.formGroup"
      >
        <div class="icon">
          <mat-icon class="font-color" mat-list-icon>music_note</mat-icon>
        </div>

        <div class="description">
          <span> Artista: {{ item.song.artistName }}</span>
          <span> Nome: {{ item.song.title }}</span>
          <span class="key"> Tom: {{ item.song.key }} </span>
        </div>

        <div class="links">
          <mat-icon [ngStyle]="{ color: item.song.hasLyricLink ? '#f0f086' : '' }"
            >format_color_text</mat-icon
          >
          <mat-icon [ngStyle]="{ color: item.song.hasChordsLink ? '#5ce85c' : '' }"
            >format_indent_increase</mat-icon
          >
          <mat-icon [ngStyle]="{ color: item.song.hasYoutubeLink ? '#f46161' : '' }"
            >live_tv</mat-icon
          >
          <mat-icon [ngStyle]="{ color: item.song.hasAudioLink ? 'rgb(78 165 255)' : '' }"
            >music_note</mat-icon
          >
        </div>

        <mat-checkbox
          [checked]="item.song.isChecked"
          [formControl]="item.formGroup.controls.isChecked"
          (click)="$event.stopPropagation()"
          #checkboxRef
        ></mat-checkbox>

        <mat-form-field
          (click)="$event.stopPropagation()"
          minister-select
          appearance="fill"
        >
          <mat-label>Ministro</mat-label>
          <mat-select
            [formControl]="item.formGroup.controls.memberID"
            [spDisableControl]="!checkboxRef.checked"
            [spSetOnSelect]="item.formGroup.controls.ministerName"
          >
            <mat-option
              *ngFor="let minister of participantMinisters$ | async"
              [value]="minister.memberID"
              [spSetOnSelectValueRef]="{ key: minister.memberID, value: minister.name }"
            >
              {{ minister.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button [disabled]="!canSubmit" (click)="submitForm()" mat-button color="primary">
      Salvar
    </button>
    <button (click)="submitForm()" mat-button color="primary">Salvar</button>
  </mat-dialog-actions>
</ng-container>
