:host {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
}

button:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
