<form>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Insira o nome da música" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Artista</mat-label>
    <mat-select>
      <mat-option *ngFor="let artist of artists$ | async" [value]="artist.artistID">
        {{ artist.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Classificações</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of classifications" [value]="item.value">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tom</mat-label>
    <mat-select>
      <mat-option *ngFor="let key of songKeys$ | async" [value]="key.keyID">
        {{ key.letter }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppingsControl" multiple>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip
            *ngFor="let topping of toppingsControl.value"
            [removable]="true"
            (removed)="onToppingRemoved(topping)"
          >
            {{ topping }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>

      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
        topping
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br />
  <!-- only for debug -->
  {{ toppingsControl.value | json }}

  <mat-form-field appearance="fill">
    <mat-label>Observações</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Audio</mat-label>
    <input matInput placeholder="Insira o link para o audio da música" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Youtube</mat-label>
    <input matInput placeholder="Insira o link para o vídeo da música" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Letra</mat-label>
    <input matInput placeholder="Insira o link para a letra da música" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Cifra</mat-label>
    <input matInput placeholder="Insira o link para a cifra da música" />
  </mat-form-field>

  <mat-dialog-actions>
    <button
      type="submit"
      color="accent"
      mat-raised-button
      mat-dialog-close
      (click)="submitForm()"
    >
      Confirmar
    </button>
    <button type="button" mat-dialog-close mat-raised-button>Cancelar</button>
  </mat-dialog-actions>
</form>
