<div class="container" *ngIf="memberForm" [formGroup]="memberForm">
  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email" />
  </mat-form-field>

  <mat-form-field>
    <input formControlName="imageUrl" matInput placeholder="Imagem" />
  </mat-form-field>

  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password" type="password" />
  </mat-form-field>

  <mat-accordion class="roles">
    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{memberForm.controls.roles.length}}/{{ ministryRolesFormArray.controls.length
          }} funções selecionadas.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item
          *ngFor="let roleGroup of ministryRolesFormArray.controls; let participantIndex=index"
          [formGroup]="roleGroup"
        >
          <img matListAvatar src="https://randomuser.me/api/portraits/men/92.jpg" />
          <div mat-line class="subtitle">{{ roleGroup.controls.name.value }}</div>
          <div class="flex"></div>
          <mat-slide-toggle formControlName="isChecked" #toggle></mat-slide-toggle>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <button
    type="button"
    color="accent"
    mat-raised-button
    (click)="submitForm()"
    [disabled]="!this.memberForm.valid"
  >
    Confirmar
  </button>
  <button type="button" mat-dialog-close mat-raised-button>Cancelar</button>
</div>
