<mat-toolbar class="absolute">
  <button routerLink="../view" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1>Editar Escala</h1>
</mat-toolbar>

<mat-divider></mat-divider>

<form [formGroup]="scaleFormGroup" *ngIf="scale$ |async as scale">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Info">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon>info</mat-icon>
          <span class="tab-label-text">Info</span>
        </div>
      </ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Titulo da Escala</mat-label>
        <mat-icon matPrefix>mode_edit</mat-icon>
        <input
          matInput
          placeholder="Ex. Escala de Aula"
          formControlName="title"
          type="text"
          matInput
        />
      </mat-form-field>

      <div class="date-time">
        <mat-form-field appearance="fill">
          <mat-label>Data </mat-label>
          <input
            readonly
            (click)="picker.open()"
            placeholder="Choose a date"
            formControlName="date"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Horário</mat-label>
          <input
            formControlName="time"
            matTimepicker
            mode="24h"
            #timerPickerRef="matTimepicker"
            [strict]="false"
          />
          <mat-icon matSuffix (click)="timerPickerRef.showDialog()">access_time</mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Observações</mat-label>
        <textarea
          matInput
          formControlName="notes"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Participantes">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon>people</mat-icon>
          <span class="tab-label-text">Participantes</span>
        </div>
      </ng-template>

      <button (click)="addMember()" type="button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Adicionar Participante
      </button>

      <p>A escala ainda não possui nenhum membro</p>
    </mat-tab>
    <mat-tab label="Músicas">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon>library_music</mat-icon>
          <span class="tab-label-text">Músicas</span>
        </div>
      </ng-template>

      <button type="button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Adicionar Música
      </button>

      <p>A escala ainda não possui nenhuma música</p>
    </mat-tab>
  </mat-tab-group>
</form>

{{ scaleFormGroup.value | json }}
<p>Valido {{ scaleFormGroup.valid }}</p>
