<mat-toolbar class="absolute">
  <button routerLink="../" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1>{{ scaleID ? 'Editar Escala' : 'Criar Escala' }}</h1>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-tab-group mat-stretch-tabs>
  <form [formGroup]="scaleFormGroup">
    <mat-tab label="Info">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <mat-icon>info</mat-icon>
          <span class="tab-label-text">Info</span>
        </div>
      </ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Titulo da Escala</mat-label>
        <mat-icon matPrefix>mode_edit</mat-icon>
        <input
          matInput
          placeholder="Ex. Escala de Aula"
          formControlName="title"
          type="text"
          matInput
        />
      </mat-form-field>

      <ng-container [formGroup]="dateGroup" ]>
        <div class="date-time">
          <mat-form-field appearance="fill">
            <mat-label>Data </mat-label>
            <input
              readonly
              (click)="picker.open()"
              placeholder="Choose a date"
              formControlName="date"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Horário</mat-label>
            <input
              formControlName="time"
              matTimepicker
              mode="24h"
              #timerPickerRef="matTimepicker"
              [strict]="false"
            />
            <mat-icon matSuffix (click)="timerPickerRef.showDialog()"
              >access_time</mat-icon
            >
          </mat-form-field>
        </div>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>Observações</mat-label>
        <textarea
          matInput
          formControlName="notes"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>

      <button
        [disabled]="scaleID && !scaleFormGroup.dirty || !scaleFormGroup.valid"
        class="save"
        mat-raised-button
        color="primary"
        (click)="onSubmitScale()"
      >
        {{ scaleID ? 'Salvar' : 'Criar' }}
      </button>
    </mat-tab>
  </form>

  <mat-tab label="Participantes" *ngIf="scaleID">
    <ng-container *ngIf="participantListItems$ | async as participants">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <div class="icon-container">
            <mat-icon>people</mat-icon>
            <span class="icon-container__text">{{ participants.length }}</span>
          </div>
          <span class="tab-label-text">Participantes</span>
        </div>
      </ng-template>
      <button (click)="addMember()" type="button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Adicionar Participante
      </button>
      <ng-container>
        <ng-container *ngIf="participants.length; else noParticipantsTemplate">
          <mat-list>
            <ng-container *ngFor="let participant of participants">
              <mat-list-item style="border-bottom: 0.5px solid #292929">
                <div class="participant">
                  <img
                    class="participant__image"
                    matListAvatar
                    [src]="participant.imageUrl"
                    alt="member avatar"
                  />
                  <div class="participant__name" mat-line>{{participant.name}}</div>
                  <div class="participant__roles" mat-line>
                    <span *ngFor="let role of participant.roles"> {{ role.name }} </span>
                  </div>
                </div>
                <button mat-icon-button aria-label="Example icon-button with a menu">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </ng-container>
        <ng-template #noParticipantsTemplate>
          <p style="text-align: center">A escala ainda não possui nenhum participante</p>
        </ng-template>
      </ng-container>
    </ng-container>
  </mat-tab>

  <mat-tab label="Músicas" *ngIf="scaleID">
    <ng-container *ngIf="songListItems$ | async as songListItems">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <div class="icon-container">
            <mat-icon>library_music</mat-icon>
            <span class="icon-container__text">{{songListItems.length}}</span>
          </div>
          <span class="tab-label-text">Músicas</span>
        </div>
      </ng-template>
      <button class="add-music-btn" type="button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Adicionar Música
      </button>
      <div class="song-list-items">
        <sp-song-list-item
          [song]="song"
          *spFor="let song of songListItems else 'Ainda não foi cadastrada nenhuma música' let length=length; let index=index"
          [songOrder]="index + 1"
        >
          <img
            style="border-radius: 50%; width: 50px; height: 50px"
            alt="user image"
            src="https://randomuser.me/api/portraits/women/13.jpg"
          />
        </sp-song-list-item>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<!-- <br />
<br />
<br />
<br />
<br />

{{ scaleFormGroup.value | json }}

<p>Valido {{ scaleFormGroup.valid }}</p>
<p>Dirty {{ scaleFormGroup.dirty }}</p>
<p>Scale ID {{ scaleID }}</p> -->
