:host {
  background-color: #424242;
  border-radius: 5px;

  display: flex;
  padding: 15px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #616161;
  }

  .icon {
    margin-right: 15px;
  }

  .links {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  .description {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;

    span {
      grid-column: 1;
    }
  }
}
