<mat-list>
  <mat-list-item *ngFor="let folder of [1,2,3]">
    <img
      matListAvatar
      src="https://randomuser.me/api/portraits/men/92.jpg"
      alt="member avatar"
    />
    <div mat-line>Renato</div>
    <div mat-line>
      <span *ngFor="let role of ['Vocalist','Guitar']"> {{ role }} </span>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Remover do ministério</span>
      </button>
    </mat-menu>
  </mat-list-item>
</mat-list>
