<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="title-group">
    <h1>Seja bem vindo!</h1>
    <h2>Login</h2>
    <span> Faça login na sua conta </span>
  </div>

  <form [formGroup]="userForm">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix> mail </mat-icon>
      <input
        data-testid="email-input"
        formControlName="email"
        matInput
        placeholder="Digite seu email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix> key </mat-icon>
      <input
        data-testid="password-input"
        type="password"
        formControlName="password"
        matInput
        placeholder="Digite sua senha"
      />
    </mat-form-field>

    <div class="actions-container">
      <button
        [disabled]="!userForm.valid"
        (click)="submit()"
        mat-raised-button
        color="primary"
        class="btn-block"
        data-testid="login-button"
        type="button"
      >
        Log in
      </button>
      <button
        type="button"
        routerLink="/auth/sign-up"
        mat-stroked-button
        color="accent"
        class="btn-block"
        data-testid="go-to-register-button"
      >
        Ir para Cadastro
      </button>
    </div>
  </form>
</div>
<img
  background-wave
  src="./../../../../../assets/images/background-wave.svg"
  alt="background-wave.svg"
  top
/>
<img
  background-wave
  src="./../../../../../assets/images/background-wave.svg"
  alt="background-wave.svg"
  bottom
/>
