<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <h1>Log in</h1>

  <form [formGroup]="userForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input
        data-testid="email-input"
        formControlName="email"
        matInput
        placeholder="Email"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        data-testid="password-input"
        type="password"
        formControlName="password"
        matInput
        placeholder="Password"
      />
    </mat-form-field>

    <div class="actions-container">
      <button
        [disabled]="!userForm.valid"
        (click)="submit()"
        mat-stroked-button
        color="primary"
        class="btn-block"
        data-testid="login-button"
        type="button"
      >
        Log in
      </button>
      <button
        type="button"
        routerLink="/auth/sign-up"
        mat-stroked-button
        color="accent"
        class="btn-block"
        data-testid="go-to-register-button"
      >
        Ir para Cadastro
      </button>
    </div>
  </form>
</div>
