@import 'variables';
@import 'custom-theme';

:host {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  h1 {
    font-size: 26px;
    text-align: center;
  }
}

.login-wrapper {
  max-width: 600px;
  background-color: $dark-bg-lighter-10;
  padding: $global-module-size;
  border-radius: $global-radius;
  max-width: 300px;
}

mat-form-field {
  width: 100%;
}

.mat-stroked-button {
  margin: 0;
  margin-top: 10px;
  border: 1px solid currentColor;
  width: 100%;
  background: #fff7fa;
}

.actions-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
