@import 'variables';
@import 'colors';
@import 'custom-theme';

:host {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  mat-icon {
    font-size: 16px;
    position: relative;
    top: -2px;
    color: $color-primary !important;
  }

  .title-group {
    & > * {
      margin: 0;
      padding: 0;
      font-weight: 400;
    }

    h1 {
      font-size: 26px;
      text-align: center;
    }
    h2 {
      font-weight: 500;
      font-size: 18px;
      margin-top: 5px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
    color: $color-primary !important;
    margin-bottom: 25px;
  }
}

.login-wrapper {
  max-width: 600px;
  background-color: $dark-bg-lighter-10;
  padding: $global-module-size;
  border-radius: $global-radius;
  max-width: 300px;
}

mat-form-field {
  width: 100%;
}

button {
  max-height: 40px;
}

.mat-raised-button {
  color: white !important;
}

.mat-stroked-button {
  margin: 0;
  border: 1px solid currentColor;
  width: 100%;
  background: #fff7fa;
}

.actions-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
