<form [formGroup]="ministryKeyForm">
  <h2>Vincular Tonalidades</h2>

  <mat-form-field appearance="fill">
    <mat-label>Ministro</mat-label>
    <mat-select formControlName="memberID">
      <mat-option
        *ngFor="let member of ministerMembers$ | async"
        [value]="member.memberID"
      >
        {{ member.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Música</mat-label>
    <mat-select formControlName="songID" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Buscar Música"
          [formControl]="searchCtrl"
        ></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let song of filteredSongs$ | async" [value]="song.songID">
        {{ song.title }} - {{ song.artistName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tom</mat-label>
    <mat-select formControlName="keyID">
      <mat-option *ngFor="let key of sntKeys$ | async" [value]="key.songKeyID">
        {{ key.notation }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    type="button"
    color="accent"
    mat-raised-button
    (click)="submitForm()"
    [disabled]="this.ministryKeyForm.invalid"
  >
    Confirmar
  </button>
  <button type="button" mat-dialog-close mat-raised-button>Cancelar</button>
</form>
