<form [formGroup]="songForm">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input formControlName="title" matInput placeholder="Insira o nome da música" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Artista</mat-label>
    <mat-select formControlName="artistID">
      <mat-option *ngFor="let artist of artists$ | async" [value]="artist.artistID">
        {{ artist.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Classificações</mat-label>
    <mat-select formControlName="tags" multiple>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip
            *ngFor="let tag of songForm.get('tags')?.value"
            [removable]="true"
            (removed)="onTagRemoved(tag)"
          >
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>

      <mat-option *ngFor="let classification of tags" [value]="classification"
        >{{ classification }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tom</mat-label>
    <mat-select formControlName="keyID">
      <mat-option *ngFor="let key of songKeys$ | async" [value]="key.songKeyID">
        {{ key.notation }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Observações</mat-label>
    <input formControlName="observations" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Audio</mat-label>
    <input
      formControlName="audioUrl"
      matInput
      placeholder="Insira o link para o audio da música"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Youtube</mat-label>
    <input
      matInput
      placeholder="Insira o link para o vídeo da música"
      formControlName="youtubeUrl"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Letra</mat-label>
    <input
      matInput
      placeholder="Insira o link para a letra da música"
      formControlName="lyricUrl"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link Cifra</mat-label>
    <input
      matInput
      placeholder="Insira o link para a cifra da música"
      formControlName="chordsUrl"
    />
  </mat-form-field>

  <mat-dialog-actions>
    <button type="submit" color="accent" mat-raised-button (click)="submitForm()">
      Confirmar
    </button>
    <button type="button" mat-dialog-close mat-raised-button>Cancelar</button>
  </mat-dialog-actions>
</form>
