<mat-list *ngIf="artistListItems$ | async as artists">
  <ng-container *ngIf="artists.length > 0; else noArtistsTemplate">
    <sp-artist-list-item
      [artist]="artist"
      (editEvent)="edit($event)"
      (removeEvent)="remove($event)"
      *ngFor="let artist of artists"
    >
    </sp-artist-list-item>
  </ng-container>
  <ng-template #noArtistsTemplate>
    <mat-list-item style="display: flex; justify-content: center">
      <p>Ainda não há artistas cadastrados.</p>
    </mat-list-item>
  </ng-template>
</mat-list>
