<mat-toolbar>
  <button routerLink="../" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1>Tonalidades</h1>

  <button (click)="showDialog()" data-testid="create-ministry-button" mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-list *ngIf="keysListItems$ | async as keys">
  <ng-container *ngIf="keys.length; else noKeysTemplate">
    <mat-list-item *ngFor="let key of keys">
      <img matListAvatar [src]="key.memberImageUrl" alt="member avatar" />
      <div mat-line>{{key.memberName}}</div>
      <div mat-line>
        <span> {{key.artistName}}</span>
      </div>
      <div mat-line>
        <span> {{key.songTitle}} </span>
      </div>
      <div mat-line>
        <span> Tom: {{key.songKey}} </span>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showDialog(key)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="remove(key)">
          <mat-icon>delete</mat-icon>
          <span>Remover</span>
        </button>
      </mat-menu>
    </mat-list-item>
  </ng-container>
  <ng-template #noKeysTemplate>
    <p style="text-align: center">Ainda não foi cadastrado nenhuma tonalidade</p>
  </ng-template>
</mat-list>
