<h2 mat-dialog-title>Participantes</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="search" appearance="outline">
    <mat-label>Pesquisar por nome</mat-label>
    <input matInput placeholder="Nome do participante" />
  </mat-form-field>

  <mat-list>
    <div *ngFor="let member of members$ | async; let participantIndex=index">
      <mat-list-item>
        <img
          matListAvatar
          src="https://randomuser.me/api/portraits/men/92.jpg"
          alt="member avatar"
        />
        <div mat-line class="subtitle">{{ member.item.name }}</div>
        <div class="flex"></div>
        <mat-slide-toggle [formControl]="member.selected" #toggle></mat-slide-toggle>
      </mat-list-item>
      <mat-accordion
        [formGroup]="member.form"
        *ngIf="toggle.checked"
        [hidden]="!toggle.checked"
      >
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-description>
              0/{{ member.item.roles.length }} funções selecionadas.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <section class="roles">
            <div
              class="radio-button-container"
              *ngFor="let tupleRole of member.roles; let roleIndex=index"
            >
              <p>Roles : {{ tupleRole.form.value | json }}</p>
              <ng-container [formGroup]="tupleRole.form">
                <div class="icon-container">
                  <mat-icon svgIcon="bass"></mat-icon>
                  <span>{{tupleRole.item.name}}</span>
                </div>
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  formControlName="selected"
                  #checkbox
                >
                </mat-checkbox>
              </ng-container>
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>

      {{ member.form.value | json }} }
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button (click)="submitForm()" mat-button color="primary">Submit</button>
</mat-dialog-actions>
