:host {
  display: block;
  padding-top: 20px;
}

mat-toolbar.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  h1 {
    flex-grow: 1;
  }
}

.toolbar-spacer {
  margin-top: 50px;
}

nav {
  margin-bottom: 20px;
}

.desktop-nav {
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  button.active {
    color: var(--primary-color);
    border: solid 0.1px var(--primary-color);
  }
}

footer {
  .toolbarNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background: whitesmoke;

    button {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      span {
        display: block;
      }
    }
  }

  button:hover,
  .active-link {
    color: var(--primary-color);

    mat-icon {
      transform: scale(1.6);
    }
  }
}
