<ng-container *ngIf="ministryListItem$ | async as ministryListItem">
  <mat-toolbar class="absolute">
    <button
      mat-icon-button
      [routerLink]="['/']"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>{{ ministryListItem.name }}</h1>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      data-testid="ministry-options"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
      <button
        routerLink="/ministerios/1/escalas/{{ministryListItem.ministryID}}/edit"
        mat-menu-item
      >
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Clonar</span>
      </button>
      <button
        data-testid="delete-ministry-button"
        mat-menu-item
        (click)="deleteMinistry(ministryListItem.ministryID)"
      >
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="toolbar-spacer"></div>

  <nav class="desktop-nav" mat-tab-nav-bar mat-stretch-tabs *spMediaIf="510; mode 'gt'">
    <a
      mat-tab-link
      [routerLink]="['escalas']"
      routerLinkActive
      #scaleLink="routerLinkActive"
      [active]="scaleLink.isActive"
    >
      Escalas ({{ ministryListItem.scalesQuantity }})
    </a>

    <a
      mat-tab-link
      [routerLink]="['musicas']"
      routerLinkActive
      #musicLink="routerLinkActive"
      [active]="musicLink.isActive"
    >
      Músicas ({{ ministryListItem.musicsQuantity }})
    </a>

    <a
      mat-tab-link
      [routerLink]="['artistas']"
      routerLinkActive
      #artistsLink="routerLinkActive"
      [active]="artistsLink.isActive"
    >
      Artistas ({{ ministryListItem.artistQuantity }})
    </a>

    <a
      mat-tab-link
      [routerLink]="['membros']"
      routerLinkActive
      #memberLink="routerLinkActive"
      [active]="memberLink.isActive"
    >
      Membros ({{ ministryListItem.membersQuantity }})
    </a>

    <a
      mat-tab-link
      [routerLink]="['tonalidades']"
      routerLinkActive
      #keyLink="routerLinkActive"
      [active]="keyLink.isActive"
    >
      Tonalidades ({{ ministryListItem.songKeysQuantity }})
    </a>

    <button
      [class.active]="keyLink.isActive || memberLink.isActive || scaleLink.isActive"
      mat-raised-button
      (click)="
      scaleLink.isActive && goToCreateScale() ||
      musicLink.isActive && goToCreateMusic() ||
      artistsLink.isActive && goToCreateArtist() ||
      memberLink.isActive && goToCreateMinistryMember() ||
          keyLink.isActive && goToCreateMinistryKey()
        "
    >
      <mat-icon>add</mat-icon>
    </button>
  </nav>
</ng-container>

<router-outlet></router-outlet>

<footer *spMediaIf="510; mode 'lt'">
  <mat-toolbar class="toolbarNav">
    <button
      class="floating-button"
      *spMediaIf="510; mode 'lt'"
      (click)="
      scalesLink.isActive && goToCreateScale() ||
      musicsLink.isActive && goToCreateMusic() ||
      artistsLink.isActive && goToCreateArtist() ||
      membersLink.isActive && goToCreateMinistryMember() ||
      keysLink.isActive && goToCreateMinistryKey()"
      mat-fab
      aria-label="Example icon button with a delete icon"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      #scalesLink="routerLinkActive"
      mat-flat-button
      routerLink="escalas"
      routerLinkActive="active-link"
    >
      <mat-icon>today</mat-icon>
    </button>

    <button
      #artistsLink="routerLinkActive"
      mat-flat-button
      routerLink="artistas"
      routerLinkActive="active-link"
    >
      <mat-icon>group</mat-icon>
    </button>

    <button
      #musicsLink="routerLinkActive"
      mat-flat-button
      routerLink="musicas"
      routerLinkActive="active-link"
    >
      <mat-icon>library_music </mat-icon>
    </button>

    <button
      #membersLink="routerLinkActive"
      mat-flat-button
      routerLink="membros"
      routerLinkActive="active-link"
    >
      <mat-icon>church</mat-icon>
    </button>

    <button
      #keysLink="routerLinkActive"
      mat-flat-button
      routerLink="tonalidades"
      routerLinkActive="active-link"
    >
      <mat-icon>music_note</mat-icon>
    </button>
  </mat-toolbar>
</footer>
