:host {
  display: block;
  padding: 20px;
}

mat-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

nav {
  margin-top: 50px;
  margin-bottom: 20px;
}
