@import 'medias';

:host {
  display: block;
  padding-top: 20px;
}

mat-toolbar {
  background-color: var(--primary-color);
}

mat-toolbar.top {
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;

  h1 {
    flex-grow: 1;
  }
}

.toolbar-spacer {
  margin-top: 50px;
}

nav {
  margin-bottom: 20px;
}

.desktop-nav {
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  button.active {
    color: var(--primary-color);
    border: solid 0.1px var(--primary-color);
  }
}

footer {
  .toolbarNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background: whitesmoke;

    button[mat-flat-button] {
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      span {
        display: block;
      }
    }

    .floating-button {
      position: fixed;
      bottom: 105px;
      right: 35px;
    }
  }

  button:hover,
  .active-link {
    color: var(--primary-color);

    mat-icon {
      transform: scale(1.6);
    }
  }
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #212329;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  @include medias($tiny-mobile, $mobile) {
    margin: 0;
  }

  padding: 16px;

  overflow: auto;
  background: #212329;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background: transparent;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
