<ng-container *ngIf="ministryListItem$ | async as ministryListItem">
  <mat-toolbar class="absolute">
    <button
      mat-icon-button
      [routerLink]="['/']"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>{{ ministryListItem.name }}</h1>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="toolbar-spacer"></div>

  <nav mat-tab-nav-bar mat-stretch-tabs *spMediaIf="510; mode 'gt'">
    <a
      mat-tab-link
      [routerLink]="['escalas']"
      routerLinkActive
      #scaleLink="routerLinkActive"
      [active]="scaleLink.isActive"
    >
      Escalas ({{ ministryListItem.scalesQuantity }})
    </a>

    <a
      mat-tab-link
      [routerLink]="['musicas']"
      routerLinkActive
      #musicLink="routerLinkActive"
      [active]="musicLink.isActive"
    >
      Músicas ({{ ministryListItem.musicsQuantity }})
    </a>
    <a
      mat-tab-link
      [routerLink]="['membros']"
      routerLinkActive
      #memberLink="routerLinkActive"
      [active]="memberLink.isActive"
    >
      Membros ({{ ministryListItem.membersQuantity }})
    </a>
    <a
      mat-tab-link
      [routerLink]="['tonalidades']"
      routerLinkActive
      #keyLink="routerLinkActive"
      [active]="keyLink.isActive"
    >
      Tonalidades ({{ ministryListItem.keysQuantity }})
    </a>
    <button mat-raised-button (click)="createMinistryKey(keyLink.isActive)">
      <mat-icon>add</mat-icon>
    </button>
  </nav>
</ng-container>

<router-outlet></router-outlet>

<footer *spMediaIf="510; mode 'lt'">
  <mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="escalas" routerLinkActive="active-link">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-flat-button routerLink="musicas" routerLinkActive="active-link">
      <mat-icon>library_music </mat-icon>
    </button>
    <button mat-flat-button routerLink="membros" routerLinkActive="active-link">
      <mat-icon>church</mat-icon>
    </button>
    <button mat-flat-button routerLink="tonalidades" routerLinkActive="active-link">
      <mat-icon>music_note</mat-icon>
    </button>
  </mat-toolbar>
</footer>
