@import 'custom-theme';
@import 'mixins';
@import 'colors';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 0 20px;
  background-color: $dark-background;
  color: #fff;
}

mat-toolbar {
  background-color: $dark-bg-lighter-10 !important;
}

mat-flat-button {
  // background-color: $dark-bg-lighter-10 !important;
}

mat-toolbar.absolute {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 65px;
  margin-bottom: 40px;

  h1 {
    flex: 1;
    text-align: center;
  }
}

mat-card.mat-card {
  background: $dark-bg-lighter-10 !important;
  transition: filter 0.2s ease-in-out;

  @include hover;
}

.mat-menu-panel {
  background: $dark-bg-lighter-10 !important;
}

.mat-dialog-container {
  background: $dark-bg-lighter-10 !important;
}

mat-dialog-content {
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: $dark-bg-lighter-10;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: var(--primary-color);
  }
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: rgba(56, 55, 55, 0.87);
}
